<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<title>Client details</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" media="all" href="../../css/moj.css" th:href="@{/css/moj.css}" />
	<script type="text/javascript" th:src="@{/js/moj.js}"></script>
</head>
<body>
	<div th:include="include/fragment :: header"></div>
	<div id="content">
		<div class="content_nav">
			<a class="button orange small" href="javascript:history.back()" th:text="#{back}">Back</a>
		</div>	
		<h3 th:text="#{client_details}">Client details</h3>
		<table class="table_details" th:object="${client}" >
			<tr>
				<td th:text="#{first_name}">First name</td>
				<td th:text="*{firstName}"></td>
			</tr>

			<tr>
				<td th:text="#{last_name}">Last name</td>
				<td th:text="*{lastName}"></td>
			</tr>
			
			<tr>
				<td th:text="#{email}">E-mail</td>
				<td th:text="*{email}"></td>
			</tr>
		</table>	
	</div>
</body>
</html>