<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<title>Employee details</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" media="all" href="../../css/moj.css" th:href="@{/css/moj.css}" />
	<script type="text/javascript" th:src="@{/js/moj.js}"></script>
</head>
<body>
	<div th:include="include/fragment :: header"></div>
	<div id="content">
		<div class="content_nav">
			<a class="button orange small" href="javascript:history.back()" th:text="#{back}">Back</a>
		</div>	
		<h3 th:text="#{employee_details}">Employee details</h3>
		<table class="table_details" th:object="${employee}" >
			<tr>
				<td th:text="#{first_name}">First name</td>
				<td th:text="*{firstName}"></td>
			</tr>

			<tr>
				<td th:text="#{last_name}">Last name</td>
				<td th:text="*{lastName}"></td>
			</tr>
			
			<tr>
				<td th:text="#{avg_rate}">Avg rate</td>
				<td th:if="*{rate != 0.00}" th:text="|*{#numbers.formatDecimal(rate,1,2)} / 5.00|" ></td>
				<td th:if="*{rate == 0.00}">- / 5.00</td>
			</tr>

			<tr>
				<td th:text="#{work_place}">Place of work</td>
				<td class="link"><a href="#" th:href="@{/place/__*{placeID}__}" th:text="*{placeName}" ></a></td>
			</tr>
		</table>
	</div>
</body>
</html>